*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

html, body{
    height: 100%;
    width: 100%;
}

.navbar{
    display: flex;
    background-color: pink;
    align-items: center;
    justify-content: flex-start;
}

.navbar .button{
    font-size: 20px;
}

.navbar .logo {
    display: flex;
}
.navbar .logo #main{
    height: 60px;
    width: 60px;

}

.navbar .logo .logo-text{
    width: 120px;
    height: 36px;
   
}

